<style scoped lang="less">

.lead-paragraph {
  font-size: 1.1em;
  font-weight: bold;
}
  .Home {
    &_Block {
      padding-bottom: 1em;
    }
  }

</style>
<template>
  <div class="Home">
    <b-row cols="1" cols-sm="1"  cols-md="1" cols-lg="2" cols-xl="2">
      <b-col class="Home_Block">
        <div class="content">
          <p class="lead-paragraph">
              MCH2021 has been renamed to MCH2022 and will take place 22nd to 26th July 2022!
          </p>
          <p>
              MCH2022 is planned as a nonprofit outdoors hacker camp taking place in Zeewolde, the Netherlands, summer
              of 2022. The event is organized <a href="https://wiki.mch2022.org/Volunteering_Guide" target="_blank"
               rel="noopener noreferrer">for and by volunteers</a> from and around all facets of the worldwide hacker
              community.
          </p>
          <p>
              Knowledge sharing, technological advancement, experimentation, connecting with your hacker peers
              and of course hacking are some of the core values of this event.
          </p>
          <p>
            MCH2022 is the successor of a string of similar events happening every four years since 1989.
            These are
            <a href="https://en.wikipedia.org/wiki/Galactic_Hacker_Party" target="_blank"
               rel="noopener noreferrer">GHP</a>,
            <a href="https://nl.wikipedia.org/wiki/Hacking_at_the_End_of_the_Universe" target="_blank"
               rel="noopener noreferrer">HEU</a>,
            <a href="https://nl.wikipedia.org/wiki/Hacking_in_Progress" target="_blank"
               rel="noopener noreferrer">HIP</a>,
            <a href="https://en.wikipedia.org/wiki/Hackers_at_Large" target="_blank"
               rel="noopener noreferrer">HAL</a>,
            <a href="https://en.wikipedia.org/wiki/What_the_Hack" target="_blank" rel="noopener noreferrer">WTH</a>,
            <a href="https://en.wikipedia.org/wiki/Hacking_at_Random" target="_blank"
               rel="noopener noreferrer">HAR</a>,
            <a href="https://en.wikipedia.org/wiki/Observe._Hack._Make." target="_blank"
               rel="noopener noreferrer">OHM</a> and
            <a href="https://en.wikipedia.org/wiki/Still_Hacking_Anyway" target="_blank"
               rel="noopener noreferrer">SHA</a>.
            <br><br>
            Similar events are
            <a href="https://www.emfcamp.org/" target="_blank" rel="noopener noreferrer">EMF</a> in the UK,
            <a href="https://www.bornhack.dk/" target="_blank" rel="noopener noreferrer">Bornhack</a> in Denmark,
            <a href="https://fri3d.be" target="_blank" rel="noopener noreferrer">Fri3d Camp</a> in Belgium,
            <a href="https://www.ihc.camp/2020/" target="_blank" rel="noopener noreferrer">IHC</a> in Italy and
            <a href="https://en.wikipedia.org/wiki/Chaos_Communication_Camp" target="_blank"
               rel="noopener noreferrer">CCC Camp</a> in Germany.<br>
            <br>
            The location is the <a href="https://osm.org/go/0E65_AaQ?layers=HN&amp;m=" target="_blank"
                                   rel="noopener noreferrer">Scoutinglandgoed Zeewolde</a>, 55km east of
            Amsterdam.
          </p>
          <p>
            <a class="btn btn-success btn-lg" href="https://wiki.mch2022.org" target="_blank" rel="nofollow">
              View more info on the wiki
              <b-icon icon="arrow-up-right" shift-v="14" shift-h="-2" font-scale="0.9"></b-icon>
            </a>
          </p>
        </div>

      </b-col>
      <b-col class="Home_Block">
        <div class="content">
          <router-link to="/Blog/the-stars-align-the-path-to-mch2022-is-clear" class="btn-block btn-success btn-lg">
            The stars align: the path to MCH2022 is clear
          </router-link>
          <a class="btn-block btn-success btn-lg" href="https://cfp.mch2022.org" target="_blank" rel="nofollow">
            Read the Call For Participation
            <b-icon icon="arrow-up-right" shift-v="8" shift-h="-2" font-scale="0.9"></b-icon>
          </a>
          <a class="btn-block btn-success btn-lg" href="https://tickets.mch2021.org/" target="_blank" rel="nofollow">
            Buy Tickets
            <b-icon icon="arrow-up-right" shift-v="8" shift-h="-2" font-scale="0.9"></b-icon>
          </a>
        </div>

        <Blog_List style="margin-top: 2em; width: 100%" :title="'Recent updates'" :count="10"></Blog_List>

      </b-col>
    </b-row>

    <galleryx></galleryx>

    <div class="content" style="margin-top: 2em;">
      <a class="btn-block btn-success btn-lg" href="https://tickets.mch2021.org/" target="_blank" rel="nofollow">
        Buy Tickets
        <b-icon icon="arrow-up-right" shift-v="8" shift-h="-2" font-scale="0.9"></b-icon>
      </a>
    </div>
  </div>
</template>
<script>
import {mapGetters} from "vuex";

import Blog_List from "@/components/pages/Blog_List";
import galleryx from "@/components/Gallery";

export default {
  components: {Blog_List, galleryx},
  data: () => ({}),
  props: {},
  methods: {
    getDate(date) {
      return date.getFullYear().toString() + '-' +
          (date.getMonth() + 1).toString().padStart(2, '0') + '-' +
          date.getDate().toString().padStart(2, '0');
    },
  },
  computed: {
    ...mapGetters({
      posts: 'blog/reversedPosts',
      storeLoaded: 'blog/loaded',
      storeError: 'blog/error',
    }),
  },
}
</script>
