<template>
  <div>
    <div class="content">
      <b-row>
        <b-col>

        <div class="d-none d-md-block float-right" style="margin: 2em;">
            <a role="button" class="btn-lg" href="https://cloud.ifcat.org/s/t9TNn8qHabqoB9z#pdfviewer" target="_blank" rel="nofollow">See the old MCH2021 sponsor document <b-icon icon="arrow-up-right" shift-v="8" shift-h="-2" font-scale="0.9"></b-icon></a>
        </div>
      <!-- Todo: this should be a page from wordpress, not a static page. -->
        <div class="text">
          <h1>We're looking for sponsors</h1>
            <p>
                MCH2022 is a non-profit event with a non-commercial identity, currently looking for sponsors.
                For a successful event it is none the less necessary for specific projects and teams to need contributions in the form of sponsoring and donations.
            </p>
            <p>
              Due to the non-commercial identity, MCH2022 has a sponsor policy that you can find <a href="https://cloud.ifcat.org/s/t9TNn8qHabqoB9z#pdfviewer" target="_blank" rel="nofollow">here</a>. If you would like to sponsor or donate to MCH2022, please contact <a href="mailto:sponsors@mch2021.org">the MCH2021 Sponsor team</a>.
            </p>
        </div>
          <div class="d-block d-md-none">
            <a role="button" class="btn-block btn-lg" href="https://cloud.ifcat.org/s/t9TNn8qHabqoB9z#pdfviewer" target="_blank" rel="nofollow">See the old MCH2021 sponsor document <b-icon icon="arrow-up-right" shift-v="8" shift-h="-2" font-scale="0.9"></b-icon></a>
          </div>
        </b-col>
      </b-row>
    </div>
    <div class="content" style="margin-top: 2em;">
      <div class="text">
          <h2>Sponsors</h2>
          <h3>Gold</h3>
          <p>
              <a href="https://mullvad.net">
                  <img src="/images/pages/sponsors/MullvadVPN_logo_Round_RGB_Color_positive.png">
              </a>
          </p>
      </div>
    </div>
    <div class="content" style="margin-top: 2em;">
      <div class="text">
          <h2>Special thanks</h2>
          <p>
                We'd like to extend special thanks to the contributors that prefer to stay anonymous and the following people and organisations who are instrumental in making SHA2017 happen: EventInfra, The Chaos Computer Club, Hack in the Box, all orga volunteers, and everybody who did take on one or more angel shifts.
            </p>
        </div>
    </div>
  </div >
</template>
<script>
    export default {
    }
</script>
